@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

/* Themes */
:root {
  --fc-today-bg-color: #db4f4a !important;
  --fc-event-bg-color: #9fa2a6;
  --fc-event-border-color: #37d85d;
  --fc-page-bg-color: #6e7479;
  --fc-list-event-hover-bg-color: #6e8499;
}

.fc-event:hover,
.fc-event-start:hover,
.fc-event-end:hover,
.fc-event-today:hover,
.fc-event-future:hover,
.fc-list-event:hover {
  background-color: #6e8499 !important;
}

/* Pro Sidebar */

.pro-sidebar {
  height: fit-content !important;
}